# Load the .bash_aliases file if it exists
if [ -s ~/.bash_aliases ]; then source ~/.bash_aliases; fi

[[ $SHELL == */zsh ]] && setopt nullglob
# Dynamic loading of .envrc.* files
for file in ~/.envrc.*; do
	# Source the file if it's not empty
    if [ -s "$file" ]; then
        source "$file"
    fi
done
[[ $SHELL == */zsh ]] && unsetopt nullglob

